.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 100px;
  padding: 20px;
  text-align: center;
  padding: 20px;
  margin: 15px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.board{
  display: flex;
  flex-wrap: wrap;
}

.tile {
  height: auto;
  width: 150px;
  margin: 10px;
  padding: 5px;
  background: lightblue;
  flex-direction: row;
  text-align: left;
}

.newIdeaButton {
  background: darkblue;
  color: white;
  border: none;
  font-size: 18px;
  cursor: pointer;
  margin: 0 10px 0 10px;
  padding: 10px;
}

.input {
  border: 0;
  background: none;
  outline: none;
  margin-top: 10px;
  width: 150px;
}

.input:focus {
  border: solid 1px lightgray;
}

textarea {
  resize: none;
  height: 90px;
}